*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {

    width: 100%;
}

.container {

    height: 100vh;
    background-color: black;
}

.clearfix {

    content: "";
    display: table;
    clear: both;
}

.logo_visible {

    position: absolute;
    display: inline;
    font-size: 30px;
}

.visible {

    display: none;
}

/* MENù SINISTRA */

.main_left,.main_right {

    float: left;
}

.main_left {

    background-color: black;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: calc(100vh - 60px);
    position: fixed;
    color: #a3a3a3;
    padding-bottom: 20px;
    padding-left: 10px;
    overflow: auto;
}

.main_right {

    background-color:#141922;
    width: 85%;
    float: right;
    padding-bottom: 100px;
    color: #73757a;
}

.main_right .upgrade_btn:hover {

    margin-top: -10px;
    overflow: hidden;
}

.main_left ul img {
    display: inline;
    width: 30px;
    vertical-align: middle;
    color: #a3a3a3;
}

.main_left ul li,.create_playlist_span, .install .install_app span{
    font-size: 13px;
    font-weight: 600;
    padding: 6px 0;
}

.create_playlist_span{

    font-size: 15px;
}

.main_right h3 {

font-size: 35px;
}

.main_left .create_playlist span {

    vertical-align: middle;
    padding: 0 5px;
}

.create_playlist h4 {

    font-size: 14px;
    padding: 10px 0;
    font-weight: 600
}

.logo {

    padding:20px 0 30px 0px;
}

.main_left ul ,.create_playlist,.install_app,.install_app_user{

    padding: 0 0 20px 0px;
    line-height: 25px;
}

.logo img {

    width: 150px;
}

.logo img , .logo span {

    display: inline;
    vertical-align: middle;
}

.create_playlist i {

    font-size: 40px;
    vertical-align: middle;
}

.main_left .playlist {

    flex-grow: 1;
    overflow: auto;
}

.install {

    padding: 20px 0;
}

.install hr {

    margin-bottom: 25px;
    width: 90%;
} 

.install_app {

    color: #a3a3a3;
}

.main_left .install .install_app img{

    display: inline;
    width: 20px;
    vertical-align: middle;
    padding: 5px 0;
    color: #a3a3a3;
}

.install_app_user {

    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    background-color: #a3a3a3;
    vertical-align: middle;
}

.install_app_user img {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 20px;
    color: #a3a3a3;
}

/* MENù DESTRA */

/* UPGRADE */

.main_right_top {

    width: 100%;
    background-color: #080b12;  
    padding:20px 10px 20px 0;
}

.upgrade_btn {

    margin: auto;
    float: right;
    padding: 10px;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 20px;
}

.upgrade_btn:hover {

    padding: 12px;
    font-size: 18px;
    overflow:visible;
    cursor: pointer;
}


/* MENù */

.main_right_ul ul {

    display: flex;
    padding: 10px 0;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}

.main_right_ul ul li {

    padding: 20px 10px;
}

.main_right_ul hr {

    width: 40px;
    margin: auto;
    margin-top: 5px;
    border: 1px solid #adff2e;
}


.main_left ul li .home_hr {

    border-left: 2px solid #adff2e;
    margin-left: -5px;
} 


/* SEZIONE ALBUMS */


.main_right h3,.my_album_title h5 .main_right h3,.main_right h5{

    padding: 5px 10px;
}


.albums_container ,.my_albums_container,
.popular_albums_container
{

    background-color:#141922;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.albums_container .subtitle, .my_albums_container .subtitle,
.popular_albums_container .subtitle{

    padding: 10px 0;
}

.albums_container .subtitle h4,.albums_container .subtitle h5,
.my_albums_container .subtitle h4,.my_albums_container .subtitle h5,
.popular_albums_container .subtitle h4,.popular_albums_container .subtitle h5{

    padding: 5px 0;
}

.subtitle_visible {

    visibility: hidden;
}



.albums_container .album .album_img,.my_albums_container .album .album_img,
.popular_albums_container .album .album_img{
    background-color:#141922;
    padding: 0 10px;
    flex-grow: 1;
    flex-basis: calc(100% / 6); 
}

.my_albums_container .album {

    max-width: 250px;
}

.album img {

    max-width: 100%;

}

.albums_container .album h4, .albums_container .album h5,
.my_albums_container .album h4, .my_albums_container .album h5,
.popular_albums_container .album h4,.popular_albums_container .album h5 {

    text-align: center;
}

.popular_albums_container .album img {

    border-radius: 50%;
}

.visible {

    opacity: 0;
}

/* toolbar */

.toolbar {

    width: 100%;
    bottom: 0;
    position: fixed;
    background-color:#282828;
    width: 100%;
    display: flex;
    color: #a3a3a3;
    padding: 5px 0;
}


.toolbar_left,.toolbar_right {

    justify-content: space-between;
    width: 25%;
    display: flex;
    position: relative;
}

.toolbar_center {

    justify-content: space-between;
    width: 50%;
    padding: 0 5px;
}

.toolbar_left{

    justify-content: space-between;
    position: relative;
}

.toolbar_left_2,.toolbar_left_3 {

    width: calc(100% / 2 - 40px);
    position: relative;    
}

.toolbar_left_2_h6,.toolbar_left_3_icons {

    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    padding-left: 15px;
}

.toolbar_left_1 img {
    width: 60px;
    height: 100%;
    padding: 15px 0 15px 10px;
}

.row_volume {

    border: 2px solid grey;
    width: 120px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.row_volume_white {

    border: 2px solid rgb(255, 255, 255);
    width: 50px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
}

.row_volume_white_green:hover {

    border: 2px solid #adff2e;
    cursor: pointer;
}

.toolbar_right_icons i {

    padding: 0 5px;
    font-size: 12px;
}

.toolbar_right {

    line-height: 60px;
    padding-left: 20px;
}

.toolbar_center_top{

    display: flex;
    justify-content: center;
    position: relative;
}

.toolbar_center_top_i {

    font-size: 15px;
    padding: 10px 10px;
    vertical-align: middle;
    line-height: 30px;
}

.toolbar_center_top_i_play {

    font-size: 30px;
    padding: 10px 10px 0 10px;
    vertical-align: middle;
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%,-50%); 
}

.toolbar_center_top_i_play_grow:hover{

    font-size: 35px;
    padding: 10px 15px 0 15px;
}

.toolbar_center .toolbar_center_top .left_i {

    padding-right: 40px;
}

.toolbar_center_bottom {

    text-align: center;
    padding-bottom: 10px;
}
.toolbar_center_bottom .row_volume {

    width: 350px;
    position: relative;
    margin: 0 5px;
}

.toolbar_center_bottom .row_volume .row_volume_white {

    border: 2px solid rgb(255, 255, 255);
    width: 80px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 11%;
    transform: translate(-50%,-50%);
}

.toolbar_center_bottom .row_volume .row_volume_white:hover {

    border: 2px solid #adff2e;
    cursor: pointer;
}

.toolbar_center .toolbar_center_bottom .number {

    font-size: 10px;
    font-weight: 500;
}

.volume_point {

    position: absolute;
    width: 10px;
    height: 10px;
    background-color: whitesmoke;
    border-radius: 50%;
    top: 45%;
    left: 39%;
    transform: translate(-50%,-50%);
}

.volume_point_top {

    position: absolute;
    width: 10px;
    height: 10px;
    background-color: whitesmoke;
    border-radius: 50%;
    top: 45%;
    left: 23%;
    transform: translate(-50%,-50%);
}

/* hover */

.hover_play {

    position: absolute;
    max-width: 100%;
    max-height: 100%;
    background-color: #00000069;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 70px;
    width: 93%;
    height: 100%;
    color: white;
    display: none;
}

.radius_play {

    border-radius: 50%;
}

.album_img:hover .hover_play{

    display: inline-block;
    cursor: pointer;
}

.album_img {

    position: relative;
}

.hover_play .play_icon {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.underline:hover {

    text-decoration: underline;
}


/* classi comuni */

.white_text {

    color: white;
}

.hover_white_text:hover{

    color: white;
    cursor: pointer;
}

.font {

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.f-800 {

    font-weight: 800;
}


/* mobile version */

@media all and (max-width:767px) {

    .albums_container .album{

        flex-basis: calc(100% / 2);
        max-width: 200px;
        margin: auto;
    }

    .popular_albums_container .album {

        flex-basis: calc(100% / 2);
        max-width: 200px;
        margin: auto;
    }

    .my_albums_container .album {

        flex-basis: calc(100% / 2);
        max-width: 200px;
        margin: auto;
    }

    .toolbar_left_3 .toolbar_left_3_icons i{

        font-size: 13.5px;
        margin-top: 5px;
    }

    .toolbar_center_bottom .row_volume {

        width: 150px;
        position: relative;
    }

    .toolbar_center_bottom .row_volume .row_volume_white {

        left: 12%;
        transform: translate(-50%,-50%); 
        width: 40px;
    }

    .toolbar_right .toolbar_right_icons {

        margin-left: -10px;
    }


    .toolbar_right .row_volume {

        width: 30px;
    }

    .toolbar_right .row_volume_white {

        width: 10px;
    }

    .toolbar_right .row_volume_white {

        width: 10px;
        left: 1%;
    }

    .toolbar_right_icons i {

        padding: 0 2px;
        font-size: 12px;
    }

    .main_left span, .playlist ul li,.create_playlist, .logo img, .install hr {

        display: none;
    }


    .main_left .logo .visible {

        display: inline-block;
        position: relative;
    }


    .main_left {

        width: 10.5%;
    }

    .main_right {

        width: 89.5%;
        margin-left: -50px
    }

    .main_left ul {

        margin-top: 20px;
    }

    .install_app img {

        margin-left: 5px;
    }

    .toolbar_left_3_icons {

        left: 50%;
    }

    .toolbar_left_2_h6 h6 {

        font-size: 10px;
        padding: 2px 0
    }

    .main_right h3,.main_right .f-800 {

        margin-left: 5px;
    }

} 


/* tablet version */

@media all and (min-width:768px) and (max-width:991px) {

    .albums_container .album{

        flex-basis: calc(100% / 4);
        max-width: 200px;
    }

    .popular_albums_container .album {

        flex-basis: calc(100% / 4);
        max-width: 200px;
    }

    .my_albums_container .album {

        flex-basis: calc(100% / 2);
        max-width: 200px;
    }

    .toolbar_center_bottom .row_volume {

        width: 250px;
        position: relative;
    }


    .toolbar_center_bottom .row_volume {

        max-width: 250px;
        position: relative;
    }

    .toolbar_center_bottom .row_volume .row_volume_white {

        left: 11%;
        transform: translate(-50%,-50%); 
        width: 60px;
    }

    .toolbar_right .row_volume {

        width: 80px;
    }

    .toolbar_right .row_volume_white {

        width: 10px;
    }

    .toolbar_right .row_volume_white {

        width: 30px;
        left: 17%;
    }

    .toolbar_right_icons i {

        padding: 0 2px;
        font-size: 12px;
    }

    .logo .logo_visible {

        display: none;
    }

    .main_left {

        width: 20%;
    }

    .main_right {

        width: 80%;
        margin-left: -50px
    }

} 


/* deskopt version */

@media all and (min-width:992px) {

    .albums_container .album{

        flex-basis: calc(100% / 6);
        /* max-width: 200px; */
    }

    .popular_albums_container .album {

        flex-basis: calc(100% / 4);
        max-width: 200px;
    }

    .my_albums_container .album {

        flex-basis: calc(100% / 2);
        max-width: 200px;
    }

    .logo .logo_visible {

        display: none;
    }

    .toolbar_left_2_h6,.toolbar_left_3_icons {

        left: 18%;
    }

    .toolbar_left_3_icons {

        left: -30%;
    }

} 




















