*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {

    width: 100%;
}

.container {

    height: 100vh;
    background-color: black;
    
}

.clearfix {

    content: "";
    display: table;
    clear: both;
}

/* MENù SINISTRA */

.main_left,.main_right {

    float: left;
}

.main_left {

    background-color: blanchedalmond;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: calc(100vh - 60px);
    position: fixed;

}

.main_right {

    background-color: rgb(205, 239, 255);
    width: 85%;
    float: right;
    padding-bottom: 100px;


}


.logo {

    padding:20px 0 30px 10px;
}

.main_left ul ,.create_playlist,.install_app,.install_app_user{

    padding: 0 0 20px 10px;
    line-height: 25px;
}

.logo img , .logo span {

    display: inline;
    vertical-align: middle;
}

.playlist {
    flex-grow: 1;
    overflow: scroll;

}

/* MENù DESTRA */



/* UPGRADE */

.main_right_top {

    width: 100%;
    background-color: rgb(209, 32, 32);  
    padding:20px 10px 20px 0;
}

.upgrade_btn {

    margin: auto;
    float: right;
    padding: 10px 10px 10px 10px;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 20px;
}

/* MENù */

.main_right_ul ul {

    display: flex;
    padding: 10px 0;
    flex-direction: row;
    list-style: none;
    justify-content: center;

}

.main_right_ul ul li {

    padding: 0 10px;
}

/* SEZIONE ALBUMS */


.main_right h3,.my_album_title h5 {

    padding: 5px 10px;
}

.albums_container ,.my_albums_container,
.popular_albums_container
{

    background-color: aquamarine;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.albums_container .album,.my_albums_container .album,
.popular_albums_container .album{
    
    
    background-color: cadetblue;
    padding: 0 10px;
    flex-grow: 1;
    flex-basis: calc(100% / 6);
    /* max-width: 200px; */
    
}

.my_albums_container .album {

    max-width: 250px;
    background-color: cadetblue;
    padding: 0 10px;
}

.album img {

    max-width: 100%;
    background-image: url(img/split.jpeg);
    background-position: center;
    background-size: cover;

}

.albums_container .album h4, .albums_container .album h6,
.my_albums_container .album h4, .my_albums_container .album h6,
.popular_albums_container .album h4,.popular_albums_container .album h6 {

    text-align: center;
    
}

.popular_albums_container .album img {

    border-radius: 50%;
}

.visible {

    opacity: 0;
}

/* toolbar */



.toolbar {

    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: crimson;
    width: 100%;
    display: flex;
    
}

.toolbar_left,.toolbar_right {

    justify-content: space-between;
    border: 1px solid white;
    width: 25%;
    display: flex;
    position: relative;
}

.toolbar_center {

    justify-content: space-between;
    border: 1px solid white;
    width: 50%;
}

.toolbar_left_1 {

    justify-content: space-between;
    border: 1px solid white;
    position: relative;
}

.toolbar_left_2,.toolbar_left_3 {

    width: calc(100% / 2 - 40px);
    border: 1px solid white;
    position: relative;
}



.toolbar_left_2_h6,.toolbar_left_3_icons {

    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,-50%);
    
}


.toolbar_left_1 img {
    width: 50px;
    height: 100%;
    padding: 5px;
}

.row_volume {

    border: 1px solid grey;
    width: 120px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.row_volume_white {

    border: 1px solid rgb(255, 255, 255);
    width: 50px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    

}



.toolbar_right_icons i {

    padding: 0 5px;
    font-size: 12px;
}

.toolbar_right {

    line-height: 60px;
    padding-left: 20px;
}

.toolbar_center_top{

    display: flex;
    justify-content: center;
    position: relative;
    
}



.toolbar_center_top i {

    font-size: 20px;
    padding: 10px 5px;
}

.toolbar_center_bottom {

    text-align: center;
}
.toolbar_center_bottom .row_volume {

    width: 350px;
    position: relative;
}

.toolbar_center_bottom .row_volume .row_volume_white {

    border: 1px solid rgb(255, 255, 255);
    width: 80px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 11%;
    transform: translate(-50%,-50%);
    
}




















